.portfolio {
    padding-top: 58px;
}
.gallery {
    margin-top: 74px;
    &_menu {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 546px;
            margin: 0 auto;
            li {
                display: block;
                transition: all 0.5s ease;
                a {
                    color: @colorGray;
                    text-decoration: none;
                }
            }
        }
    }
    &_album {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 930px;
        max-width: 1140px;
        margin: 74px auto 0;
        &_item {
            position: relative;
            overflow: hidden;
            img {
                width: 96%;
            }
            .item_hover {
                background-color: @colorBlack;
                opacity: 0.9;
                position: absolute;
                top: 100%;
                height: 100%;
            }
            &:hover {
                .item_hover {
                    top: 0;
                }
            }
        }
    }
}