.portfolio {
    padding-top: 58px;
}
.gallery {
    margin-top: 74px;
    &_menu {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 546px;
            margin: 0 auto;
            li {
                display: block;
                transition: all 0.5s ease;
                a {
                    color: @colorGray;
                    text-decoration: none;
                }
            }
        }
    }
    &_album {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 950px;
        max-width: 1110px;
        margin: 74px auto 0;
        &_item {
            position: relative;
            overflow: hidden;
            .item_pic {
                box-sizing: border-box;
                width: 270px;
                &_1 {
                    background: url("../images/portfolio/11.jpg");
                    height: 360px;
                }
                &_2 {
                    background: url("../images/portfolio/21.jpg");
                    height: 360px;
                }
                &_3 {
                    background: url("../images/portfolio/31.jpg");
                    height: 210px;
                }
                &_4 {
                    background: url("../images/portfolio/12.jpg");
                    height: 230px;
                }
                &_5 {
                    background: url("../images/portfolio/22.jpg");
                    height: 344px;
                }
                &_6 {
                    background: url("../images/portfolio/32.jpg");
                    height: 356px;
                }
                &_7 {
                    background: url("../images/portfolio/13.jpg");
                    height: 302px;
                }
                &_8 {
                    background: url("../images/portfolio/23.jpg");
                    height: 374px;
                }
                &_9 {
                    background: url("../images/portfolio/33.jpg");
                    height: 254px;
                }
                &_10 {
                    background: url("../images/portfolio/14.jpg");
                    height: 360px;
                }
                &_11 {
                    background: url("../images/portfolio/24.jpg");
                    height: 270px;
                }
                &_12 {
                    background: url("../images/portfolio/34.jpg");
                    height: 300px;
                }          
            }
            .item_hover {
                background-color: rgba(0, 0, 0, 0.8);
                height: 100%;
                box-sizing: border-box;
                width: 270px;
                position: absolute;
                top: 100%;
                .item_hover_text {
                    margin: auto;
                    width: 200px;
                }
                h4 {
                    color: @colorTurquoise;
                    text-transform: uppercase;
                    letter-spacing: 0.15em;
                    margin-bottom: 12%;
                    &:after {
                        border: 1px solid;
                        content:'';
                        display: block;
                        margin-top: 16px;
                        width: 22px;
                    }
                }
                p {
                    color: @colorCasper;
                    font-size: 12px;
                    line-height: 22px;
                    margin-bottom: 29%;
                    width: 206px;
                }
                a {
                    color: @colorWhite;
                    text-decoration: none;
                }
            }
            &:hover {
                .item_hover {
                    top: 0;
                }
            }
        }
    }
}

.item_hover_button {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 24px;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
    
}