
.services {
	padding-top: 54px;
	padding-bottom: 114px;
	&_block {
		display: flex;
		justify-content: center;
		margin: 0 10px;
		max-width: 1200px;

		@media screen and (max-width: 982px) {
			flex-direction: column-reverse;
		}
		@media screen and (max-width: 442px) {
			margin: unset;
		}
	}
}

.sb_ {	
	&menu {
		width: 60px;
		margin-top: 45px;
		@media screen and (max-width: 982px){
			display: flex;
			justify-content: space-around;
			margin: 45px auto 0;
			width: 300px;

		}
		button {
			color: @colorWhite;
			font-size: 30px;
			background-color: @colorLightGray;
			border-radius: 50px;
			border: none;
			outline: none;
			margin-bottom: 17px;
			box-sizing: border-box;
			width: 54px;
			height: 54px;
			transition: 0.5s ease-out 0.3s;
			&:hover,
			&.active {
				background-color: @colorTurquoise;
			}
		}
	}	
	
	&item {
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: 38px;
		margin-top: 14px;
		width: 945px;
		max-width: 945px;
		@media screen and (max-width: 982px) {
			margin-left: 0;
			width: unset;
		}
		@media screen and (max-width: 886px) {
			flex-direction: column-reverse;
		}
	}
}
.sbi_ {
	&text {
		width: 404px;
		@media screen and (max-width: 886px) {
			width: 80%;
		}
		@media screen and (max-width: 572px) {
			width: 100%;
		}
		p {
			letter-spacing: 1px;
			line-height: 2em;
			@media screen and (max-width: 886px) {
				text-align: center;
			}
		}
		h4+p {
			padding-bottom: 15px;
		}
		h4 {
			@media screen and (max-width: 886px) {
				text-align: center;
			}
		}
	}
	&bars {
		display: flex;
		justify-content: space-between;
		width: 454px;
		@media screen and (max-width: 886px) {
			width: 80%;
		}
		@media screen and (max-width: 572px) {
			width: 100%;
		}
		@media screen and (max-width: 442px) {
			flex-direction: column;
		}
	}
	&infographic {
		position: relative;
		@media screen and (max-width: 442px) {
			margin: 0 auto;
		}
		canvas {
			background-color: @colorTurquoise;
			z-index: 9;
			border-radius: 50%;
			transform: scale(-1, 1);
		}
		&_percent {	
			color: @colorLightGray;
			font-size: 25px;
			text-align: center;
			margin-top: 48px;
			span {
				font-size: 14px;
			}
		}
		&_description {
			color: @colorLightGray;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 16px;
			line-height: 25px;
			margin: 0;
			text-align: center;

			
		}
	}
}

.circle1{
    height: 120px;
    width: 120px;
    background-color: @colorWhite;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
	z-index: 11;
}