@colorForTeamHover: @colorCasper;

.team {
    padding-top: 56px;
    &_slider {
        max-width: 1046px;
        margin: 56px auto;
        &_menu {
            display: flex;
            margin: 60px auto 100px;
            justify-content: space-around;
            width: 60px;
        }
        &_selectButton {
            background: none;
            box-sizing: border-box;
            border: 1px solid @colorTurquoise;
            border-radius: 50%;
            height: 10px;
            padding: 0;
            width: 10px;
        }
        .active {
            background-color: @colorTurquoise;
        }
    }
    &_member {
        display: flex;
        justify-content: space-between;
        &_photo {
            height: 366px;
            position: relative;
            width: 288px;
            overflow: hidden;
            flex-shrink: 0;
            &_hover {
                height: 348px;
                margin: 8px auto;
                width: 270px;
                position: absolute;
                top: 100%;
                opacity: 0.9;
                .hole {
                    &_1 {
                        position: absolute;
                        top: 158px;
                        left: 72px;
                        &::before {
                            content: "";
                            background-color: @colorForTeamHover;
                            width: 270px;
                            height:158px;
                            position: absolute;
                            top: -158px;
                            left: -72px;
                        }
                        &::after {
                            content: "";
                            background-color: @colorForTeamHover;
                            width: 72px;
                            height: 32px;
                            position: absolute;
                            left: -72px;
                        }
                      }
                    &_2 {
                        position: absolute;
                        top: 158px;
                        left: 119px;
                    }
                    &_3 {
                        position: absolute;
                        top: 158px;
                        left: 167px;
                        &::before {
                            content: "";
                            background-color: @colorForTeamHover;
                            width: 71px;
                            height: 32px;
                            position: absolute;
                            left: 32px;
                        }
                        &::after {
                            content: "";
                            background-color: @colorForTeamHover;
                            width: 270px;
                            height:158px;
                            position: absolute;
                            top: 32px;
                            left: -167px;
                        }
                    }
                } 
            }
            &:hover {
                .team_member_photo_hover {
                    top: 0;
                }
            }
        }
        &_social_network {
            box-shadow:  0px 0px 0px 16px @colorForTeamHover;
            border-radius: 50%;
            box-sizing: border-box;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 30px;
            margin-left: 10px;
            
            a {
                color: @colorForTeamHover;
                font-size: 20px;
                &:hover {
                    color: @colorTurquoise;
                }
            }
        }
        &_discript {
            max-width: 468px;
            text-align: right;
            h4 {
                border-right: 2px solid @colorTurquoise;
                text-align: right;
                margin-right: 18px;
                padding-right: 40px;
                span {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }
            }
            p {
                padding-right: 66px;
            }
            @media screen and (max-width: 638px) {
                width: 288px;
            }
        }
        @media screen and (max-width: 638px) {
            align-items: center;
            flex-direction: column;
        }
    } 
    #team_member_ {
        &1 {
           .team_member_photo {
               background: url(../images/team/teamMember1.jpg) center / cover;
           } 
        }
        &2 {
            .team_member_photo {
                background: url(../images/team/teamMember2.jpg) center / cover;
            } 
        }
         &3 {
           .team_member_photo {
               background: url(../images/team/teamMember3.jpg) center / cover;
           } 
        }
    }
    &_footer {
        background: url("../images/background/background5.jpg") center / cover;
        padding: 32px 0 54px;
        div {
            margin: 0 auto;
            max-width: 320px;
            text-align: center;
            p {
            color: @colorWhite;
            font-size: 20px;
            letter-spacing: 1px;
            margin-bottom: 30px;
            }
            .button {
                height: 38px;
                line-height: 38px;
                margin: 0 auto; 
                transition: all .3s;
                &:hover {
                    background-color: @colorLightGray;
                    transition: all .3s;
                }  
            }
        }    
    }
}