@colorWhite: #fff;
@colorWhiteSmoke: #f3f3f3;
@colorGray: #333b46;
@colorLightGray: #81868e;
@colorTurquoise: #19bd9a;
@colorDarkTurquoise: #047378;
@colorBlack: #000;
@colorCasper: #b2b3b3;
@colorCyanBluishWhite: #e1e4e9;
@colorCharcoal: #464646;
@colorIronLightBlue: #cfd3d4;
@colorDarkGray: #a9a9a9;
@colorWaikawaGrey :#d8dce0;
@colorFacebook: #3b5998;
@colorTwitter: #26a6d1;
@colorLinkedIn: #0e76a8;
@colorInstagram: #3f729b;
@colorVimeo: #86c9ef;