.works {
	padding-top: 56px;
}

.works_accordion {
	max-width: 1370px;
	margin: 60px auto 0;
	ul {
		width: 100%;
		display: table;
		table-layout: fixed;
		margin: 0;
		padding: 0;
		li {
			background: no-repeat center/cover;
			display: table-cell;
			position: relative;
			width: 16.6666%;
			transition: all 0.5s ease;
			div {
				display: block;
				overflow: hidden;
				width: 100%;
				a {
					background: @colorBlack;
					display: block;
					height: 318px;
					position: relative;
					transition: all 0.2s ease;
					opacity: 0.9;
					span {
						color: @colorWhite;
						font-family: 'Source Sans Pro', sans-serif;
						font-weight: 300;
						font-size: 20px;
						text-align: center;
						margin: 0;
						width: 100%;
						position: absolute;
						top: 50%;
						letter-spacing: 4px;
						text-transform: uppercase;
					}
				}
			}
			&:nth-child(1) {
				background-image: url("../images/feature_work/else.jpg");
			}
			&:nth-child(2) {
				background-image: url("../images/feature_work/else.jpg");
			}
			&:nth-child(3) {
				background-image: url("../images/feature_work/else.jpg");
            }
            @media screen and (max-width: 768px) {
                display: table;
                position: relative;
                table-layout: fixed;
                width: 100%;
                transition: none;
            }
            &:hover {
                @media screen and (max-width: 768px) {
                    display: table;
                    position: relative;
                    table-layout: fixed;
                    width: 100%;
                    transition: none;
                }
            }
		}
		&:hover {
			li {
                width: 10%;
                @media screen and (max-width: 768px) {
                    display: table;
                    position: relative;
                    table-layout: fixed;
                    width: 100%;
                    transition: none;
                }
				&:hover {
                    width: 50%;
                    @media screen and (max-width: 768px) {
                        display: table;
                        position: relative;
                        table-layout: fixed;
                        width: 100%;
                        transition: none;
                    }
					a {
						background: none;
						span {
							display: none;
						}
					}
				}
			}
		}
    }
    @media screen and (max-width: 768px) {
        height: auto;
    }
}

.works_footer {
	background: url(../images/background/background2.jpg) no-repeat center / cover; 
	padding: 22px 0 28px;
	@media screen and (max-width: 956px) {
		padding: 10px 0;
	}
	.button {
		float: right;		
		margin-right: 86px;
		margin-top: 10px;
		&:hover {
			background-color: @colorTurquoise;
			border-color: @colorGray;
			a {
				color: @colorGray;
			}
		}
		@media screen and (max-width: 1065px) {
			margin-right: 30px;
		}
		@media screen and (max-width: 956px) {
			margin-right: 86px;
			margin-top: 26px;
		}
		@media screen and (max-width: 770px) {
			margin-right: 10px;
		}
		@media screen and (max-width: 646px) {
			float: none;
			margin: 0 auto;
		}
	}
	h3 {
		color: @colorWhite;
		float: left;
		letter-spacing: 2px;
		margin-left: 87px;
		text-align: left;
		text-transform: none;
		@media screen and (max-width: 1065px) {
			margin-left: 30px;
		}
		@media screen and (max-width: 956px) {
			margin-left: 87px;
			width: 420px;
		}
		@media screen and (max-width: 770px) {
			margin-left: 10px;
		}
		@media screen and (max-width: 646px) {
			float: none;
			margin: 0 auto 16px;
			text-align: center;
			width: 100%;

		}
	}
} 